.toc-wrapper > svg {
  display: block;
  max-width: 100%;
  margin: 5px auto;
}

.content blockquote > p {
  border: none;
}

pre.inline {
  float: none !important;
  clear: none !important;
}

.content aside.warning {
  color: #FFF;
}
